/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Poppins&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins&display=swap");
@import "tailwindcss";

@theme {
  --font-cs-normal: "Poppins", sans-serif;
  --font-cs-title: "Orbitron", sans-serif;

  --breakpoint-desktop: 1024px;

  --text-cs-h1-d: 42px;
  --text-cs-h1-m: 37px;
  --text-cs-h2-d: 14px;
  --text-cs-h2-m: 12px;
  --text-cs-h3-d: 30px;
  --text-cs-h3-m: 22px;
  --text-cs-normal: 16px;
  --text-cs-navbar: 12px;

  --color-cs-light: #ffffff;
  --color-cs-dark: #020202;
  --color-cs-sky-blue: #80c7d9;
  --color-cs-dark-blue: #101a38;
  --color-cs-middle-blue: #3f4860;
  --color-cs-light-blue: #39578a;
}
